<div class="swapcrypto">
    <h1 class="swapcrypto_crypto_title">{{{i18n "swapcrypto.crypto.title"}}}</h1>
    <h4 class="swapcrypto_crypto_text">{{{i18n "swapcrypto.crypto.text"}}}</h4>
    <div class="swapcrypto_crypto_widget">
        {{{i18n "swapcrypto.crypto.widget"}}}
    </div>
    <div class="swapcrypto_crypto_bottom_text">
        {{{i18n "swapcrypto.crypto.bottom_text"}}}
    </div>
</div>