<div class="swapcrypto">
    <h1 class="swapcrypto_swap_title">{{{i18n "swapcrypto.swap.title"}}}</h1>
    <h4 class="swapcrypto_swap_text">{{{i18n "swapcrypto.swap.text"}}}</h4>
    <div class="swapcrypto_swap_widget">
        {{{i18n "swapcrypto.swap.widget"}}}
    </div>
    <div class="swapcrypto_swap_bottom_text">
        {{{i18n "swapcrypto.swap.bottom_text"}}}
    </div>
</div>