

.sidebar-section-link-wrapper {
    .sidebar-section-link.section-link-swap-crypto {
        color: #d00;
        .sidebar-section-link-prefix.icon {
            color: #d00;
        }
    }
    .sidebar-section-link.section-link-swap-crypto.active {
        color: #e00;
        .sidebar-section-link-prefix.icon {
            color: #e00;
        }
    }
    .sidebar-section-link.section-link-buy-crypto {
        color: #080;
        .sidebar-section-link-prefix.icon {
            color: #080;
        }
    }
    .sidebar-section-link.section-link-buy-crypto.active {
        color: #0a0;
        .sidebar-section-link-prefix.icon {
            color: #0a0;
        }
    }
}

#guardarian-frame {
    width: 550px;
}